Repository redpanda-data/helm-charts, pull requests merged in 2023-06, with the labels that each got.

#536 use the new repo url
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/_helpers.tpl
  charts/redpanda/values.schema.json
  charts/redpanda/values.yaml
Labels: chart:redpanda

#535 allow pre-release versions to match semver checks
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/_helpers.tpl
Labels: chart:redpanda

#540 fix: Nightlies change names and fix
  .github/workflows/nightly.yaml
  .github/workflows/nighty_redpanda_tip.yaml
Labels: tests, area/k8s

#517 feat: create new tests for gke
  .buildkite/capi/gke-cluster/Chart.yaml
  .buildkite/capi/gke-cluster/templates/NOTES.txt
  .buildkite/capi/gke-cluster/templates/_helpers.tpl
  .buildkite/capi/gke-cluster/templates/gke.yaml
  .buildkite/capi/gke-cluster/values.yaml
  .buildkite/hooks/post-command
  .buildkite/hooks/pre-command
  .buildkite/hooks/pre-exit
  .buildkite/pipeline.yaml
  .buildkite/scripts/cloud-test.sh
  Taskfile.yaml
  charts/redpanda/Chart.yaml
  charts/redpanda/ci/22-gke-tiered-storage-with-creds-values.yaml.tpl
  tasks/ToolTasks.yaml
Labels: chart:redpanda, area/k8s

#546 chore: set publishNotReadyAddresses to true for the external service
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/service.internal.yaml
  charts/redpanda/templates/service.loadbalancer.yaml
  charts/redpanda/templates/services.nodeport.yaml
Labels: area/k8s
