Repository redpanda-data/helm-charts, pull requests merged in 2023-08, with the labels that each got.

#614 feat: add prometheus for testing
  .github/workflows/nightly.yaml
  .github/workflows/nightly_redpanda_tip.yaml
  .github/workflows/pull_requests.yaml
  .github/workflows/pull_requests_from_origin.yaml
  .gitignore
  charts/redpanda/Chart.yaml
  charts/redpanda/ci/14-prometheus-no-tls-values.yaml
  charts/redpanda/ci/15-prometheus-tls-values.yaml
  charts/redpanda/templates/servicemonitor.yaml
  charts/redpanda/templates/tests/test-prometheus-targets.yaml
Labels: chart:redpanda, area/k8s

#650 Chore: update appVersion for operator
  .github/workflows/nightly_version_checks.yaml
  charts/operator/Chart.yaml
Labels: chart:operator

#645 chore: allow extra init containers, volumes, and volumemounts
  charts/redpanda/Chart.yaml
  charts/redpanda/ci/09-initcontainers-resources-values.yaml
  charts/redpanda/templates/statefulset.yaml
  charts/redpanda/values.schema.json
  charts/redpanda/values.yaml
Labels: chart:redpanda

#653 fix: upgrade error message
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/configmap.yaml
  charts/redpanda/templates/statefulset.yaml
Labels: chart:redpanda

#664 use the correct named template for the service account name in the rolebinding
  charts/operator/Chart.yaml
  charts/operator/templates/clusterrole_binding.yaml
  charts/operator/templates/clusterrole_proxy_binding.yaml
  charts/operator/templates/extra_role.yaml
  charts/operator/templates/role_binding.yaml
  charts/operator/templates/service_account.yaml
  charts/operator/templates/tests/create-topic-with-client-auth.yaml
Labels: bug

#665 kminion: fix serviceaccount
  charts/kminion/Chart.yaml
  charts/kminion/templates/daemonset.yaml
Labels: bug

#671 Allow bash script to be terminated
  .github/workflows/nightly.yaml
  .github/workflows/nightly_redpanda_tip.yaml
  .github/workflows/pull_requests_from_origin.yaml
  .github/workflows/pull_requests_redpanda.yaml
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/secrets.yaml
  charts/redpanda/templates/statefulset.yaml
  charts/redpanda/templates/tests/test-prometheus-targets.yaml
Labels: bug

#677 Revert "console: add initContainers.extraInitContainers"
  charts/console/Chart.yaml
  charts/console/templates/deployment.yaml
  charts/console/values.schema.json
  charts/console/values.yaml
Labels: chart:console

#681 fix: schema adjusted for correct placement of extraInitContainers
  charts/redpanda/Chart.yaml
  charts/redpanda/values.schema.json
Labels: chart:redpanda

#686 [Console] feat: allow for user initContainers to be defined.
  charts/console/Chart.yaml
  charts/console/templates/deployment.yaml
  charts/console/values.schema.json
  charts/console/values.yaml
Labels: chart:console

#689 Support custom domain when using connectors and console
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/console/configmap-and-deployment.yaml
Labels: chart:redpanda

#695 feat(redpanda): add the ability to add annotations to the internal service
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/service.internal.yaml
  charts/redpanda/values.schema.json
  charts/redpanda/values.yaml
Labels: chart:redpanda
