Repository redpanda-data/helm-charts, pull requests merged in 2023-04, with the labels that each got.

#435 bash does not pass sigterm to child processes
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/_helpers.tpl
  charts/redpanda/templates/statefulset.yaml
Labels: chart:redpanda

#441 bump redpanda appVersion from 23.1.1 to 23.1.7
  .github/workflows/nightly.yaml
  .github/workflows/pull_requests.yaml
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/_helpers.tpl
  charts/redpanda/templates/configmap.yaml
Labels: chart:redpanda

#443 redo redpanda container lifecycle probes
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/secrets.yaml
  charts/redpanda/templates/statefulset.yaml
Labels: chart:redpanda

#440 feat: allowing secretRef for tls
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/_helpers.tpl
  charts/redpanda/templates/cert-issuers.yaml
  charts/redpanda/templates/certs.yaml
  charts/redpanda/templates/post-install-upgrade-job.yaml
  charts/redpanda/templates/post-upgrade.yaml
  charts/redpanda/templates/statefulset.yaml
  charts/redpanda/values.yaml
Labels: chart:redpanda, area/k8s

#454 feat: allow additional flags to be added to main command
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/statefulset.yaml
  charts/redpanda/values.schema.json
  charts/redpanda/values.yaml
Labels: chart:redpanda, area/k8s

#458 fix: do not create certs when using secretRef
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/cert-issuers.yaml
  charts/redpanda/templates/console/deployment.yaml
Labels: chart:redpanda

#469 make external tls overrides easier to use
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/configmap.yaml
  charts/redpanda/values.yaml
Labels: chart:redpanda

#479 chore: lint filename in ci to ensure they are run
  .github/check-ci-files.sh
  .github/workflows/pull_requests.yaml
Labels: area/k8s

#480 23.1.8 version bump
  .github/workflows/nightly.yaml
  .github/workflows/pull_requests.yaml
  charts/redpanda/Chart.yaml
Labels: chart:redpanda, area/k8s
