Repository redpanda-data/helm-charts, pull requests merged in 2023-11, with the labels that each got.

#847 bump image versions
  charts/operator/Chart.yaml
  charts/operator/templates/deployment.yaml
  charts/operator/values.yaml
Labels: chart:operator

#853 chore: redpanda remove extra quotes for probes
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/rbac.yaml
  charts/redpanda/templates/statefulset.yaml
  charts/redpanda/values.yaml
Labels: chart:redpanda

#870 chore: console logic when secret creation is set to false
  charts/console/Chart.yaml
  charts/console/templates/deployment.yaml
Labels: chart:console

#873 console: fix missing end statement
  charts/console/Chart.yaml
  charts/console/templates/deployment.yaml
Labels: chart:console

#861 chore: do not print console secret unless we have a license
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/console/configmap-and-deployment.yaml
Labels: chart:redpanda

#874 chore: fix post-upgrade job when it is set to null
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/post-upgrade.yaml
Labels: chart:redpanda

#869 redpanda - fs validation initContainer
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/secrets.yaml
  charts/redpanda/templates/statefulset.yaml
  charts/redpanda/values.schema.json
  charts/redpanda/values.yaml
Labels: chart:redpanda

#875 chore: update crd path in readme
  .github/workflows/pull_requests_operator.yaml
  charts/operator/Chart.yaml
  charts/operator/README.md
  charts/operator/README.md.gotmpl
Labels: chart:operator

#887 redpanda: allow recovery_mode
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/secrets.yaml
  charts/redpanda/templates/statefulset.yaml
  charts/redpanda/values.yaml
Labels: chart:redpanda
