Repository redpanda-data/helm-charts, pull requests merged in 2023-10, with the labels that each got.

#766 feat: when rp chart has rbac.enabled, we need permissions to deploy.
  charts/operator/Chart.yaml
  charts/operator/templates/clusterrole.yaml
  charts/operator/templates/clusterrole_binding.yaml
  charts/operator/values.yaml
Labels: area/k8s, chart:operator

#781 chore: move tests to origin pull request, update and clean also
  .github/create-license-secret.sh
  .github/workflows/nightly.yaml
  .github/workflows/nightly_redpanda_tip.yaml
  .github/workflows/pull_requests_connectors.yaml
  .github/workflows/pull_requests_from_origin.yaml
  .github/workflows/pull_requests_kminion.yaml
  .github/workflows/pull_requests_operator.yaml
  .github/workflows/pull_requests_redpanda.yaml
  .github/workflows/release.yaml
  charts/redpanda/Chart.yaml
  charts/redpanda/ci/97-license-key-values.yaml.tpl
  charts/redpanda/ci/98-license-secret-values.yaml
  charts/redpanda/templates/post-install-upgrade-job.yaml
Labels: chart:redpanda

#791 redpanda: fix read issue with sasl
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/secrets.yaml
Labels: chart:redpanda

#806 Redpanda: change default for redpanda users, opt in to user list.
  charts/redpanda/Chart.yaml
  charts/redpanda/ci/02-one-node-cluster-no-tls-no-sasl-values.yaml
  charts/redpanda/ci/03-one-node-cluster-tls-no-sasl-values.yaml
  charts/redpanda/ci/04-one-node-cluster-no-tls-sasl-values.yaml
  charts/redpanda/ci/05-one-node-cluster-tls-sasl-values.yaml
  charts/redpanda/templates/post-install-upgrade-job.yaml
  charts/redpanda/templates/post-upgrade.yaml
  charts/redpanda/templates/secrets.yaml
  charts/redpanda/values.yaml
Labels: chart:redpanda

#807 redpanda: use fullname for configurator secret.
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/poddisruptionbudget.yaml
  charts/redpanda/templates/secrets.yaml
  charts/redpanda/templates/statefulset.yaml
Labels: chart:redpanda

#691 Update internal service to include other listeners also.
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/service.internal.yaml
Labels: chart:redpanda

#811 redpanda: fix: misspelled serviceAccount in CI
  charts/redpanda/Chart.yaml
  charts/redpanda/ci/06-rack-awareness-values.yaml
  charts/redpanda/templates/serviceaccount.yaml
Labels: chart:redpanda

#821 fix: indent in trustore_file was incorrect
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/_configmap.tpl
Labels: chart:redpanda

#823 chore: fix task up, removed license task as not needed
  Taskfile.yaml
Labels: documentation, enhancement

#669 Set default topic replication to 3
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/_configmap.tpl
  charts/redpanda/templates/post-upgrade.yaml
  charts/redpanda/templates/tests/test-kafka-produce-consume.yaml
  charts/redpanda/values.yaml
Labels: chart:redpanda

#834 fix: removed required entries from tieredConfig (deprecated)
  charts/redpanda/Chart.yaml
  charts/redpanda/values.schema.json
Labels: chart:redpanda

#837 fix scientific notation if large float64 is passed to SI-to-bytes
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/_helpers.tpl
Labels: chart:redpanda
