Repository redpanda-data/helm-charts, pull requests merged in 2023-02, with the labels that each got.

#310 use pod labels that don't interfere with each other
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/_helpers.tpl
  charts/redpanda/templates/_statefulset.tpl
  charts/redpanda/templates/poddisruptionbudget.yaml
  charts/redpanda/templates/post-install-upgrade-job.yaml
  charts/redpanda/templates/post-upgrade.yaml
  charts/redpanda/templates/statefulset.yaml
Labels: bug, chart:redpanda

#299 configure tls for multiple listeners
  charts/redpanda/Chart.yaml
  charts/redpanda/ci/07-multiple-listeners.yaml
  charts/redpanda/templates/configmap.yaml
  charts/redpanda/templates/services.nodeport.yaml
  charts/redpanda/templates/tests/test-kafka-internal-tls-status.yaml
  charts/redpanda/templates/tests/test-pandaproxy-internal-tls-status.yaml
  charts/redpanda/templates/tests/test-schemaregistry-internal-tls-status.yaml
  charts/redpanda/values.yaml
Labels: chart:redpanda

#295 fix: enable sasl users from secrets.
  charts/redpanda/Chart.yaml
  charts/redpanda/ci/04-one-node-cluster-no-tls-sasl-values.yaml
  charts/redpanda/ci/05-one-node-cluster-tls-sasl-values.yaml
  charts/redpanda/templates/_example-commands.tpl
  charts/redpanda/templates/_helpers.tpl
  charts/redpanda/templates/post-install-upgrade-job.yaml
  charts/redpanda/templates/post-upgrade.yaml
  charts/redpanda/templates/secrets.yaml
  charts/redpanda/templates/tests/test-kafka-produce-consume.yaml
  charts/redpanda/templates/tests/test-kafka-sasl-status.yaml
  charts/redpanda/values.schema.json
  charts/redpanda/values.yaml
Labels: bug, enhancement, chart:redpanda

#328 console: add changes to allow this to be used as a subchart
  charts/console/Chart.yaml
  charts/console/templates/configmap.yaml
  charts/console/templates/deployment.yaml
  charts/console/values.yaml
Labels: chart:console

#346 redpanda: allow the ability to skip the chown initContainer
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/statefulset.yaml
  charts/redpanda/values.schema.json
  charts/redpanda/values.yaml
Labels: chart:redpanda

#347 redpanda: fix console bug where deployment and configmap are erroneously created
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/certs.yaml
  charts/redpanda/templates/console/configmap.yaml
  charts/redpanda/templates/console/deployment.yaml
  charts/redpanda/templates/post-upgrade.yaml
Labels: bug, chart:redpanda

#349 redpanda: bump application from v22.3.12 to v22.3.13
  charts/redpanda/Chart.yaml
Labels: chart:redpanda

#356 redpanda: fix license_key regex
  charts/redpanda/Chart.yaml
  charts/redpanda/values.schema.json
Labels: chart:redpanda

#342 redpanda: make tls enabled by default
  charts/redpanda/Chart.yaml
  charts/redpanda/values.yaml
Labels: chart:redpanda

#365 fix: CI requires ending with -values to be tested
  charts/redpanda/Chart.yaml
  charts/redpanda/ci/06-rack-awareness-values.yaml
  charts/redpanda/ci/07-multiple-listeners-values.yaml
  charts/redpanda/templates/rbac.yaml
Labels: bug, chart:redpanda
