Repository redpanda-data/helm-charts, pull requests merged in 2023-07, with the labels that each got.

#578 fix typo
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/tests/test-internal-external-tls-secrets.yaml
Labels: bug, chart:redpanda

#579 use pod names for load-balancer addresses if address list is unset
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/service.loadbalancer.yaml
Labels: chart:redpanda

#610 chore: add scheme and tlsConfig when tls is enabled to servicemonitor
  charts/redpanda/Chart.yaml
  charts/redpanda/templates/servicemonitor.yaml
Labels: area/k8s
